
<script>
	$(function() {
		t = $( "#tabs" )
		t.tabs();
	});
</script>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/progressbar">
          ProgressbarIO
        </a>
        <ul class="nav">
          <li>
            <a href="/progressbar">
              Home
            </a>
          </li>
          <li>
            <a href="/progressbar/api">
              API
            </a>
          </li>
          <li>
            <a href="/progressbar/about">
              About
            </a>
          </li>
          <li>
            <a href="/progressbar/contact">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" style="">
    <div class="hero-unit">
      <div style="float: left;">
      <div>
        <h1>
          ProgressbarIO
        </h1>
        <p>
          Welcome to Progressbar IO. Make your Custom Progressbar below
        </p>
      </div>
      <a class="btn btn-primary" href="#">
        Learn more »
      </a>
    	</div>
    	<div style="float: right;">
				<img src="assets/progressbar_pic.png" style=" width: 150px; height: 261px;">
    	</div>
    	<div style="clear: both;">
    	</div>
    </div>
  </div>
  <div style="width: 1000px; margin-left: auto; margin-right: auto;">
    <div class="left" style="width: 450px; float:left;">
      <div id="tabs">
      <ul class="nav nav-tabs">
        <li class="" style="font-size: .85em;">
          <a href="#tabs-1">Client Numbers</a>
        </li>
        <li class="" style="font-size: .85em;">
          <a href="#tabs-2">Messages</a>
        </li>
        <li class="" style="font-size: .85em;">
	        <a href="#tabs-3">Fill</a>
        </li>
        <li class="" style="font-size: .85em;">
	        <a href="#tabs-4">Ticks</a>
        </li>
      </ul>

			<div id="tabs-1">
				<div>
					<%= label_tag(:currentNum, "Current Number") %>
					<%= text_field_tag(:currentNum,
														 50,
														 :size => 14,
														 :onchange => "changeCurrentNum();") %>
				</div>
				<div>
					<%= label_tag(:minimumNum, "Minimum Number") %>
					<%= text_field_tag(:minimumNum,
														 0,
														 :size => 14,
														 :onchange => "changeMinimumNum();") %>
				</div>
				<div>
					<%= label_tag(:maximumNum, "Maximum Number") %>
					<%= text_field_tag(:maximumNum,
														 100,
														 :size => 14,
														 :onchange => "changeMaximumNum();") %>
				</div>
			</div>
			<div id="tabs-2">
				<div>
					<input type="submit" value="Add 'Percent Complete'" onclick="createPercentCompleteMessage()" />
			  </div>
			  <div>
					<input type="submit" value="Add 'Percent Left'" onclick="createInversePercentCompleteMessage()" />
			  </div>
			  <div>
					<input type="submit" value="Add 'Current Num'" onclick="createClientNumCurrentMessage()" />
			  </div>
			  <div>
					<input type="submit" value="Add 'Min Num'" onclick="createClientNumMinMessage()" />
			  </div>
			  <div>
					<input type="submit" value="Add 'Max Num'" onclick="createClientNumMaxMessage()" />
			  </div>
			</div>
			<div id="tabs-3">
				<div>
					<%= label_tag(:fillColor, "Fill Color") %>
					<%= text_field_tag(:fillColor,
														 'red',
														 :size => 14,
														 :onchange => "changeFillColor();") %>
				</div>
			</div>
			<div id="tabs-4">
				<div>
					<%= label_tag(:maxTickWidth, "Max Tick Width") %>
					<%= text_field_tag(:maxTickWidth,
														 1,
														 :size => 14,
														 :onchange => "changeMaxTickWidth();") %>
				</div>
				<div>
					<%= label_tag(:numTicks, "Num Ticks") %>
					<%= text_field_tag(:numTicks,
														 10,
														 :size => 14,
														 :onchange => "changeNumTicks();") %>
				</div>
				<div>
					<%= label_tag(:tickColor, "Tick Color") %>
					<%= text_field_tag(:tickColor,
														 'black',
														 :size => 14,
														 :onchange => "changeTickColor();") %>
				</div>
			</div>
    </div>
  </div>
  <div class="left" style="float: left;">
    <div class="well">
      <div>

				<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
				<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

				<script>
				</script>

			  <div id="container_wrapper">
				  <div id="container" style="border-style: solid; border-width:medium;"></div>
				</div>

			  <div style="clear: both;"></div>

				<div id="generatedHtml">

				</div>

				<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.3.1.min.js"></script>

				<!--
				<script src="assets/message.js"></script>
				<script src="assets/messages_container.js"></script>
				<script src="assets/anchor.js"></script>
				<script src="assets/progressbar_filling.js"></script>
				<script src="assets/ticks_organizer.js"></script>
				<script src="assets/tick.js"></script>
				<script src="assets/progressbar_object.js"></script>
				<script src="assets/progressbar_container.js"></script>
				<script src="assets/progressbar.js"></script>
				-->
				<script src="http://progressbar-io.googlecode.com/files/progressbario-v1.0.6.js"></script>
				

				<script>

				  var progressbarObj = JSON.parse('<%= raw @progressbar_obj_json %>');

				  function makeProgressbarObjAjaxCall() {
				  	$.ajax({
				      type: "POST",
				      url: "/progressbar/update",
				      data: { progressbar_obj_json: JSON.stringify(progressbarObj) }
				    }).done(function() {

				    });
				  };

				  function loadMessages() {
				  	if(progressbarObj["messages"] == undefined) {
				  		progressbarObj["messages"] = [];
				  	}
				  };

				  function loadProgressbarFillDetails() {
				  	if(progressbarObj["progressbarFillDetails"] == undefined) {
				  		progressbarObj["progressbarFillDetails"] = new Object;
				  	}
				  };

				  function updateCurrentNum() {
				  	var currentNumObj = document.getElementById("currentNum");
						var currentNum = parseInt(currentNumObj.value);

						var currentNumField = $('#currentNum');

						loadProgressbarFillDetails();
				    
				    progressbarObj["progressbarFillDetails"]["clientNumCurrent"] = currentNum;
				  };

				  function changeCurrentNum() {
				    updateCurrentNum();
				    makeProgressbarObjAjaxCall();
					};

					function updateMinimumNum() {
						var minimumNumObj = document.getElementById("minimumNum");
						var minimumNum = parseInt(minimumNumObj.value);

				    loadProgressbarFillDetails();
				    
				    progressbarObj["progressbarFillDetails"]["clientNumMin"] = minimumNum;
					};

					function changeMinimumNum() {
						updateMinimumNum();

				    makeProgressbarObjAjaxCall();
					};

					function updateMaximumNum() {
						var maximumNumObj = document.getElementById("maximumNum");
						var maximumNum = parseInt(maximumNumObj.value);

					  loadProgressbarFillDetails();
				    
				    progressbarObj["progressbarFillDetails"]["clientNumMax"] = maximumNum;
					}

					function updateFillColor() {
						var fillColorObj = document.getElementById("fillColor");
						var fillColor = fillColorObj.value;

						loadProgressbarFillDetails();

						progressbarObj["progressbarFillDetails"]["fillColor"] = fillColor;
					}

					function loadProgressbarTickDetails() {
						if(progressbarObj["tickDetails"] == undefined) {
							progressbarObj.tickDetails = new Object;
						}
					}

					function updateMaxTickWidth() {
						var maxTickWidthObj = document.getElementById("maxTickWidth");
						var maxTickWidth = parseInt(maxTickWidthObj.value);

						loadProgressbarTickDetails();

						
						progressbarObj["tickDetails"]['maxTickWidth'] = maxTickWidth;
					}

					function updateNumTicks() {
						var numTicksObj = document.getElementById("numTicks");
						var numTicks = parseInt(numTicksObj.value);

						loadProgressbarTickDetails();

						
						progressbarObj["tickDetails"]['numTicks'] = numTicks;
					}

					function updateTickColor() {
						var tickColorObj = document.getElementById("tickColor");
						var tickColor = tickColorObj.value;

						loadProgressbarTickDetails();

						
						progressbarObj["tickDetails"]['fillColor'] = tickColor;
					}

					function changeTickColor() {
						updateTickColor();
						makeProgressbarObjAjaxCall();
					}

					function changeNumTicks() {
						updateNumTicks();
						makeProgressbarObjAjaxCall();
					}

					function changeMaxTickWidth() {
						updateMaxTickWidth();
						makeProgressbarObjAjaxCall();
					}

					function changeFillColor() {
						updateFillColor();
						makeProgressbarObjAjaxCall();
					}

					function changeMaximumNum() {
						updateMaximumNum();
				    makeProgressbarObjAjaxCall();
				  };

				  function createPercentCompleteMessage() {
				  	loadMessages();
				  	
						progressbarObj.messages[0] = new Object;
						progressbarObj.messages[0]['name'] = 'percentComplete';
					  progressbarObj.messages[0]['x'] = 20;
					  progressbarObj.messages[0]['y'] = 20;
					  progressbarObj.messages[0]['title'] = 'Percent Complete';
					  progressbarObj.messages[0]['initialText'] = 'percentComplete';
					  progressbarObj.messages[0]['fontSize'] = 30;
					  progressbarObj.messages[0]['fontFamily'] = 'Calibri';
					  progressbarObj.messages[0]['fontColor'] = 'black';

				  	makeProgressbarObjAjaxCall();
				  };

				  function createInversePercentCompleteMessage() {
				  	loadMessages();
				  	
						progressbarObj.messages[1] = new Object;
						progressbarObj.messages[1]['name'] = 'inversePercentComplete';
					  progressbarObj.messages[1]['x'] = 20;
					  progressbarObj.messages[1]['y'] = 20;
					  progressbarObj.messages[1]['title'] = 'Percent Left';
					  progressbarObj.messages[1]['initialText'] = 'percent left';
					  progressbarObj.messages[1]['fontSize'] = 30;
					  progressbarObj.messages[1]['fontFamily'] = 'Calibri';
					  progressbarObj.messages[1]['fontColor'] = 'black';

				  	makeProgressbarObjAjaxCall();
				  };

				  function createClientNumCurrentMessage() {
				  	loadMessages();
				  	
						progressbarObj.messages[2] = new Object;
						progressbarObj.messages[2]['name'] = 'clientNumCurrent';
					  progressbarObj.messages[2]['x'] = 20;
					  progressbarObj.messages[2]['y'] = 20;
					  progressbarObj.messages[2]['title'] = 'Current Num';
					  progressbarObj.messages[2]['initialText'] = 'current';
					  progressbarObj.messages[2]['fontSize'] = 30;
					  progressbarObj.messages[2]['fontFamily'] = 'Calibri';
					  progressbarObj.messages[2]['fontColor'] = 'black';

				  	makeProgressbarObjAjaxCall();
				  };

				  function createClientNumMinMessage() {
				  	loadMessages();
				  	
						progressbarObj.messages[3] = new Object;
						progressbarObj.messages[3]['name'] = 'clientNumMin';
					  progressbarObj.messages[3]['x'] = 20;
					  progressbarObj.messages[3]['y'] = 20;
					  progressbarObj.messages[3]['title'] = 'Min Num';
					  progressbarObj.messages[3]['initialText'] = 'min';
					  progressbarObj.messages[3]['fontSize'] = 30;
					  progressbarObj.messages[3]['fontFamily'] = 'Calibri';
					  progressbarObj.messages[3]['fontColor'] = 'black';

				  	makeProgressbarObjAjaxCall();
				  };

				  function createClientNumMaxMessage() {
				  	loadMessages();
				  	
						progressbarObj.messages[4] = new Object;
						progressbarObj.messages[4]['name'] = 'clientNumMax';
					  progressbarObj.messages[4]['x'] = 20;
					  progressbarObj.messages[4]['y'] = 20;
					  progressbarObj.messages[4]['title'] = 'Max Num';
					  progressbarObj.messages[4]['initialText'] = 'max';
					  progressbarObj.messages[4]['fontSize'] = 30;
					  progressbarObj.messages[4]['fontFamily'] = 'Calibri';
					  progressbarObj.messages[4]['fontColor'] = 'black';
						
				  	makeProgressbarObjAjaxCall();
				  };

				  updateCurrentNum();
				  updateMinimumNum();
				  updateMaximumNum();

				  updateFillColor();

				  updateMaxTickWidth();
				  updateNumTicks();
				  updateTickColor();

				  makeProgressbarObjAjaxCall();
				</script>
      </div>
    </div>
  </div>
    <hr>

<div style="clear: both;border: solid;">
	<div id="progressbar_output_container" style="clear:both; margin: 10px;">
		<div id="output_description" style="font-size: 20px;">
			<div>
				<p>Adding this progressbar to your site is as easy as Select, Copy and Paste!</p>
			</div>
			<div>
				<p>Copy the below code and insert it into the html of your site!</p>
			</div>
		</div>

		<div id="add_in_container">
			&lt;div id=&quot;container&quot;&gt;&lt;/div&gt;
		</div>
		<div id="progressbar_output_include_kinect">
			&lt;script src=&quot;http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.3.1.min.js&quot;&gt;&lt;/script&gt;
		</div>
		<div id="progressbar_output_include_progressbar_google">
			&lt;script src=&quot;http://progressbar-io.googlecode.com/files/progressbario-v1.0.6.js&quot;&gt;&lt;/script&gt;
		</div>
		<div id="script_tag">
			&lt;script&gt;
		</div>
		<div id="progressbar_output" style="margin: 20px;">
			This is where the progressbar output goes
		</div>
	</div>
	<div id="progressbar_output_container_ending" style="clear:both; margin: 10px;">
		<div id="progressbar_obj_creation" style="margin: 20px;">
			var progressbar = new Progressbar(progressbarInput);
		</div>
		<div id="script_end_tag">
			&lt;/script&gt;
		</div>
	</div>
  <div style="clear: both; height: 100px;">
  </div>
</div>

  <script src="assets/js/bootstrap.js"></script>
</div>
</div>









































<% if false then %>

        	<script>
			    	/*
			    	$(document).ready(function() {
			      	//var f = document.getElementById('foo');
			      	//f.onclick = showFoo;

			      	function showFoo() {
			      		alert('I am foo!');
			      		return false;
			      	};
			      });
						*/
			    </script>
			    <!--
	          <a href="#" title="Get some foo!" id="foo">
	            Other
	          </a>
	        -->
      <script>
				/*
				$(document).ready(function() {
			    $('input[type!="button"][type!="submit"], select, textarea')
			         .val('')
			         .blur();
				});
				*/
			</script>

	<!-- THIS IS REALLY COOL, BUT CAN"T USE IT IN THIS BECAUSE IT MESSES UP MY PROGRESSBAR OBJECT -->
  <%= link_to "Put Action", progressbar_update_path(:progressbar_obj => @progressbar_obj), :method=>:post, remote:true %>

  <!-- THESE ARE THINGS I JUST DON"T NEED ANYMORE BUT ARE GOOD REFERENCE -->
  var progressbarObj = JSON.parse('<%= raw @progressbar_obj_json %>')
  
  var otherObj = new Object;
  otherObj.filling = new Object;
  otherObj.filling["color"] = "blue";
  var otherObjJSON = JSON.stringify(otherObj);
  asdf = 1;


  <!-- THESE ARE SOME DIVS FOR GENERATION -->
	<div id="includeKineticJS">
		&lt;script src=&quot;http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.3.1.min.js&quot;&gt;&lt;/script&gt;
	</div>
	
	<div class="spacer" style="clear: both"></div>
	
	<div id="includeProgressbarJS">
		&lt;script src=&quot;models/progressbar_models.js&quot;&gt;&lt;/script&gt;
	</div>

	<div id="startScriptTag">
		&lt;script&gt;
	</div>
	
	<div id="initiateProgressbarObj" style="margin-left: 0px;">
		&nbsp;&nbsp;&nbsp;&nbsp;var progressbarObj = new Object;
	</div>

	<div id="initiateProgressbarFillDetails">
		&nbsp;&nbsp;&nbsp;&nbsp;
		progressbarObj.progressbarFillDetails = new Object;
	</div>
	
	<div id="progressbarFillDetailsNumCurrent"><!--
		&nbsp;&nbsp;&nbsp;&nbsp;
		progressbarObj.progressbarFillDetails[&#039clientNumCurrent'] = 58;
		-->
	</div>

	<div id="progressbarFillDetailsNumMax"><!--
		&nbsp;&nbsp;&nbsp;&nbsp;
		progressbarObj.progressbarFillDetails[&#039clientNumCurrent'] = 58;
		-->
	</div>

	<div id="result2"></div>
	
	<div id="result3"></div>
	
	<div id="result4"></div>
	<div id="initiateProgressbar">
		&nbsp;&nbsp;&nbsp;&nbsp;var progressbar = new Progressbar(progressbarObj);
	</div>
	
	<div id="endScriptTag">
		&lt;\script&gt;
	</div>
	
	<!--
	<script src="assets/message.js"></script>
	<script src="assets/messages_container.js"></script>
	<script src="assets/anchor.js"></script>
	<script src="assets/progressbar_filling.js"></script>
	<script src="assets/ticks_organizer.js"></script>
	<script src="assets/tick.js"></script>
	<script src="assets/progressbar_object.js"></script>
	-->
	<!--
	<script src="models/progressbar_models.js"></script>
	-->
	<!--
	<script src="assets/progressbar_container.js"></script>
	<script src="assets/progressbar.js"></script>
	-->


	<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
	</script>
	-->
<% end %>
